@page "/blackjack"
@model Codespirls.Poker.Web.Pages.BlackjackModel
@{
    ViewData["Title"] = "Play Blackjack";
}

<div class="align-content-center">
    <button class="playing-card" data-bs-toggle="tooltip" data-bs-title="The Deck" oncl>🂠</button>
</div>

<div class="align-content-center">
    @Component.InvokeAsync(nameof(Components.PlayingCard))
</div>