<div class="poker-hand">
    @foreach (var card in Hand.Cards)
    {
        <PlayingCard Card="@card"></PlayingCard>
    }
</div>

@code {
    [Parameter]
    public required Hand Hand { get; set; }
}
