<div class="playing-card" @onmouseover="ShowName">@Card.Emoji <span hidden>@Card.Value</span></div>

@code {
    [Parameter]
    public required Card Card { get; set; }

    public void ShowName()
    {
        
    }
}
