@page "/blackjack"

<PageTitle>Blackjack</PageTitle>

<div class="align-content-center">
    <PlayingCard Card="new Card(true)"></PlayingCard>
    <button @onclick="Start">Start ☟</button>
    <button @onclick="Draw">Draw 🫴</button>
    <button @onclick="Stay">Stay ✋</button>
</div>
<div class="align-content-center">
    <div>Dealer's Hand - <span>@Game.DealerScore</span></div>
    <PlayingHand Hand="Game.DealerHand"></PlayingHand>
</div>
<div class="align-content-center">
    <div>Player's Hand - <span>@Game.PlayerScore</span></div>
    <PlayingHand Hand="Game.PlayerHand"></PlayingHand>
</div>
<div class="align-content-center">
    <button @onclick="Reset">Reset ↺</button>
    <span>@Message</span>
</div>

@code {
    public Codespirals.Poker.Blackjack Game = new();
    public string Message = "";

    protected override void OnInitialized()
    {

    }
    public void Start()
    {
        Game.Start();
    }
    public void Reset()
    {
        Game.Reset();
        Message = "";
    }
    public void Draw()
    {
        Message = Game.Draw();
    }
    public void Stay()
    {
        Message = Game.Stay();
    }
}
