@page "/"

<PageTitle>Home</PageTitle>

<h1>The cards:</h1>

@foreach (var card in Deck.CardPool)
{
    <PlayingCard Card="@card"></PlayingCard>
}

@code {
    public PokerDeck Deck { get; set; } = new();
}