@using Codespirals.Poker
@using Microsoft.AspNetCore.Mvc.RazorPages;

<div class="poker-hand">
    @foreach (var card in Cards)
    {
        <PlayingCard Card="@card"></PlayingCard>
    }
</div>

@code {
    public IEnumerable<Codespirals.Poker.Card> Cards { get; set; }
    public PlayingHand(IEnumerable<Codespirals.Poker.Card> cards)
    {
        Cards = cards;
    }
}
